{
  "singleQuote": true,
  "tabWidth": 4,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["**/*.json", "**/*.config.js", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
